@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Six+Caps&display=swap");

:root {
  /* Colors */
  --white: #ffffff;
  --light-grey: #e8e9eb;
  --gray: #a7a7a7;
  --dark-grey: #606060;
  --accent: #03afc2;
  --dark-blue: #223843;

  /* Fonts and font weight */
  --ff-s: "Merriweather", serif;
  --ff-ss: "Six Caps", sans-serif;

  --fw-n: 400;
  --fw-b: 900;

  --letter-spacing: 0.15em;
}

body {
  color: var(--gray);
  font-family: var(--ff-s);
  line-height: 1.6;
  background: var(--white);
}

img {
  max-width: 100%;
}

h1,
h2,
p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  color: var(--accent);
  line-height: 1;
  font-size: 3.125rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: var(--letter-spacing);
  color: var(--dark-grey);
  line-height: 1;
  font-family: var(--ff-ss);
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 50em;
}

.welcome {
  background-image: url(../img/header-bg.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome h1 {
  font-size: 1.5rem;
  font-weight: var(--fw-n);
  color: var(--dark-blue);
  line-height: 2;
  text-align: center;
}

.welcome h1 span {
  color: var(--accent);
  font-family: var(--ff-ss);
  display: block;
  font-size: 5.5rem;
  letter-spacing: var(--letter-spacing);
  font-weight: var(--fw-n);
}

.welcome h1::before,
.welcome h1::after {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background: var(--dark-blue);
}

.welcome h1::before {
  margin: 0 auto 2em;
}

.welcome h1::after {
  margin: 2em auto 0;
}

.intro {
  display: flex;
  color: rgba(var(--white), 0.7);
  display: grid;
  grid-template-columns: minmax(4em, 1fr) minmax(auto, 30em) minmax(4em, 1fr);
}

.intro h2 {
  color: var(--white);
}

.intro h2::after {
  content: "";
  width: 20%;
  height: 1px;
  background: var(--white);
  display: block;
  margin: 1em auto 0;
}

.intro-middle {
  background: var(--dark-blue);
  padding: 2.5em 5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-left img,
.intro-right img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  display: block;
}

.about-me {
  display: grid;
  grid-template-columns:
    [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr)
    [img-end] 2fr [port-end];
  margin-top: 3em;
}

.about-me::after {
  content: "";
  display: block;
  clear: both;
}

.about-img {
  max-height: 25em;
  grid-column: port-start/img-end;
  grid-row: 1 / 2;
}

@media (min-width: 40em) {
  .about-img {
    float: left;
    margin-right: 1em;
  }
}

.about-title {
  grid-column: name-start / port-end;
  grid-row: 1 / 2;
  align-self: end;
  margin-bottom: 0.5em;
}

.about-subtitle,
.about-text {
  grid-column: port-start / port-end;
}

.about-subtitle {
  margin: 0.5em 0;
}
